[[extend 'layout.html']]

<div class="section">
  <div class="players">
    <div class="player">
      player 1
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 2
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 3
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 4
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 5
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 6
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 7
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 8
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
    <div class="player">
      player 9
      <div class="player-hand">
        <img class="player-card" src="images/cardClubs3.png">
        <img class="player-card" src="images/cardClubs3.png">
      </div>
    </div>
  </div>
</div>

<br>

<div class="section game-info">
  <div class="lives">
    <img class="live" src="images/chipRedWhite.png">  
    <img class="live" src="images/chipRedWhite.png">  
    <img class="live" src="images/chipRedWhite.png">  
  </div>
  <div class="score">
    $300
  </div>
  <div class="board-state">
    pre-flop 
  </div>
</div>

<br>

<div class="section flex-centered">
  <div class="board">
    <img class="board-card" src="images/cardClubs3.png"> 
    <img class="board-card" src="images/cardClubs3.png"> 
    <img class="board-card" src="images/cardClubs3.png"> 
    <img class="board-card" src="images/cardClubs3.png"> 
    <img class="board-card" src="images/cardClubs3.png"> 
  </div>
</div>


