[[extend 'layout.html']]


<div class="leaderboard-page">
<table>
  <thead>
    <tr class="title-row">
      <th colspan="4" align="center" class="title-header">Leaderboard</th>
    </tr>
    <tr>
      <th class="secondary-header secondary-header-place">
        Place
      </th>
      <th class="secondary-header secondary-header-name">
        Name
      </th>
      <th class="secondary-header secondary-header-score">
        Score
      </th>
      <th class="secondary-header secondary-header-time">
        Time
      </th>
    </tr>
  </thead>
  <tbody>
    [[for p in leaderboard:]]
    <tr>
      <td class="place-cell">
        [[=p.get('place')]]
      </td>
      <td class="name-cell">
        [[=p.get('name')]]
      </td>
      <td class="score-cell">
        [[=p.get('score')]]
      </td>
      <td class="time-cell">
        [[=p.get('time')]]
      </td>
    </tr>
    [[pass]]
  </tbody>
</table>
</div>
